@import './base.css';

/* Override Vue scaffold defaults */
#app {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Prevent Vue scaffold from applying a 2-column grid to #app */
@media (min-width: 1024px) {
  body {
    display: block;
  }
  #app {
    display: block;
    padding: 0;
  }
}
